{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body%}
  <h1 class="mt-4">Listes des articles</h1>
  <div class="row w-75 m-auto pb-3 ">
      {% for article in articles %}
      <div class="col-sm-12 d-flex justify-content-center">
          <div class="card w-100 m-2 blog-post ">
            <div class="card-body">
              <h5 class="card-title ">{{ article.title }}</h5>
              <h6 class="date">Posté le {{ article.created_at|date("m/d/Y") }} </h6>
              <p class="card-text blog-content">{{ article.first_50_char }} <a class="post-link" href="/blog/{{ article.id }}" >( Voir Plus )</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>


{% endblock %}
